:root{
    /* Primarios */
    --primario: #274391;
    --primario_luz: #41599C;
    --primario_luz_clara: #6479B4;
    --primario_sombra: #183174;
    --primario_sombra_oscura: #091F5A;
    /* Secundarios */
    --secundario: #BCA6F7;
    --secundario_luz: #E0D5FD;
    --secundario_luz_clara: #ECE6FC;
    --secundario_sombra: #9C7EEC;
    --secundario_sombra_oscura: #7D5ADA;
    /* Terciarios */
    --terciario: #4E21C4;
    --terciario_luz: #6943CB;
    --terciario_luz_clara: #8768D7;
    --terciario_sombra: #380EA5;
    --terciario_sombra_oscura: #2B0A80;
    /* Acentos */
    --acento: #FA1E4D;
    --acento_luz: #FB496F;
    --acento_luz_clara: #FC7995;
    --acento_sombra: #F20034;
    --acento_sombra_oscura: #C7002B;

    /* Falta escala de grises */

    /* Tipografias */
    --tipografia: 'Roboto', sans-serif;/*mmm no se si es esta*/


}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

                                        /*Barra de navegacion*/
.navegacion button{
    background:var(--primario);
    color:var(--secundario);
    width: 50px;
    height: 50px;
}
.anchor-logo{
    color: var(--secundario_luz_clara);
    margin-top:0.4%;
}
h1{
    font-family: var(--tipografia);
    font-size:50px;
}
.btn-perfil{
    background-color: var(--secundario_luz_clara);
    border-radius: 100%;
}

.navegacion{
 background-color:  var(--primario);
    display: flex;
    align-items: flex-start;
}
.barra-navegacion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
                                                    /*Portada*/
.portada{
    background-color: var(--primario);
}
.portada img{
    margin-left: 10%;
    height: 35%;
}

                                                    /*Carrouseles*/
.lista-imagenes img{
    
    width: 100%;
    object-fit: cover;
    border: solid rebeccapurple;
    width: 200px;
    height: 200px;
}
.lista-imagenes{
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    display: flex;
    overflow: auto;
}
.carrousel{
    padding: 16px;
}
.card-juego{
    transition: transform 2s;
}
.card-juego:hover{
    transform: rotate3d(0,1,0,720deg)
}