:root{
    /* Primarios */
    --primario: #274391;
    --primario_luz: #41599C;
    --primario_luz_clara: #6479B4;
    --primario_sombra: #183174;
    --primario_sombra_oscura: #091F5A;
    /* Secundarios */
    --secundario: #BCA6F7;
    --secundario_luz: #E0D5FD;
    --secundario_luz_clara: #ECE6FC;
    --secundario_sombra: #9C7EEC;
    --secundario_sombra_oscura: #7D5ADA;
    /* Terciarios */
    --terciario: #4E21C4;
    --terciario_luz: #6943CB;
    --terciario_luz_clara: #8768D7;
    --terciario_sombra: #380EA5;
    --terciario_sombra_oscura: #2B0A80;
    /* Acentos */
    --acento: #FA1E4D;
    --acento_luz: #FB496F;
    --acento_luz_clara: #FC7995;
    --acento_sombra: #F20034;
    --acento_sombra_oscura: #C7002B;

    /* Falta escala de grises */

    /* Tipografias */
    --tipografia: 'Roboto', sans-serif;/*mmm no se si es esta*/


}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body{
    background-color: var(--secundario_luz);
}

h2{
    font-family: var(--tipografia);
    font-weight: 500;
    font-size: 38px;
    line-height: 44.53px;
}


/*Barra de navegacion*/

header nav.navegacion{
    background-color: var(--primario_sombra_oscura);
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--primario_luz_clara);
    height: 62px;
    align-items: center;
    position: fixed;
    width: 100%;
}

div.btn-left button:nth-child(1), button:nth-child(2){
    background:var(--primario_sombra_oscura);
    color:var(--secundario_luz_clara);
    /* width: 40px;
    height:40px; */
}

nav.navegacion div.btn-left{
    margin-left: 15px;
}

button.big span.material-symbols-outlined{
   font-size: xx-large;
}

button.small span.material-symbols-outlined{
    font-size: 25px;

}

.btn-perfil {
    background:var(--secundario_luz_clara);
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

button.btn-perfil span{
    justify-content: center;
    align-items: center;
}

.anchor-logo{
    color: var(--secundario_luz_clara);
    display: flex;
}

/*Portada*/
/* .portada{
    background-color: var(--primario);
} */
.portada img{
    margin-left: 10%;
    height: 35%;
    /* le puse esto solo para separar y ver bien el nav */
    margin-top: 100px;
}

/*Carrouseles*/
.lista-imagenes img{
    
    width: 100%;
    object-fit: cover;
    border: solid rebeccapurple;
    width: 200px;
    height: 200px;
}
.lista-imagenes{
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    display: flex;
    overflow: auto;
}
.carrousel{
    padding: 16px;
}
.card-juego{
    transition: transform 2s;
}
.card-juego:hover{
    transform: rotate3d(0,1,0,720deg)
}